@import '../../utils/variables';
@import '../../utils/mixins';

li {
    list-style-type: none;
}
.infomobile {
  padding: 0;
  @media screen and (min-width: $mobile) {
    width: 100%;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}
.sectionInfoMobile {
    padding: 32px 25px 0px 25px;
}
.title {
    margin-top: 0px;
    margin-bottom: 32px;
    text-align: center;
    font-family: 'Abril Fatface';
    @include fonts (38px, 400, 34px, _, _, _);
    color: var(--second-text-color);
}
.titlesecond {
    margin-bottom: 14px;
    font-family: 'Montserrat';
    @include fonts (38px, 500, 20px, _, _, _);
    color: var(--second-text-color); 
}
.text{
    margin-bottom: 12px;
    font-family: 'Montserrat';
    @include fonts (17px, 500, 14px, _, _, _);
    font-style: normal;
    color: var(--third-text-color);
}
.buttonSection{
    // margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    }
.buttonFirst,
.buttonSecond {
    @include modalWidth(130px, 40px);
    background-color: var(--first-text-and-background-color);
    padding: 0px;
    border: 1px solid #000000;
    cursor: pointer;
    color: var(--second-text-color); 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    &:focus {
      background-color: var(--accent-text-and-background-color);
      color: var(--first-text-and-background-color); 
    }
  
    &:hover {
      position: relative;
      color: var(--first-text-and-background-color);
      background-color: var(--accent-text-and-background-color);
      }
  }
   .buttonSecond{
    margin-left: 20px;
  }
  .vector{
    margin-right: 12px;
    fill: var(--accent-text-and-background-color);
    width: 4px;
    height: 8px;
  }