@import '../../utils/reset';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 270px;
  height: 40px;
  background: #f6f7fb;
  border: 1px solid #a6abb9;
  padding-left: 12px;

  &:focus,
  &:hover {
    border: 1px solid #d15807;
  }
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 171px;
  height: 42px;
  background: #f6f7fb;
  border: 2px solid #242a37;
  padding: 12px 58px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 17px;
  color: #000000;

  &:focus {
    border: 2px solid var(--hover-buttons);
    position: relative;
    top: 2px;
  }

  &:hover {
    border: 2px solid var(--hover-buttons);
  }
}

.paragraph {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #898f9f;
  margin-bottom: 8px;
  margin-top: 20px;
}
