@import '../../utils/variables';

.container {
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: $mobile) {
    width: 280px;
  }

  @media screen and (min-width: $tablet) {
    width: 704px;
    padding: 0 32px;
  }

  @media screen and (min-width: $desktop) {
    width: 1248px;
    padding: 0 16px;
  }
}
