.bookInfo {
    margin-top: 20px;
    padding-left: 55px;
}

.bookInfoText {
    font-weight: 500;
    font-size: 12px;
    line-height: 2.51;
    color: #242A37;
}

.bookInfoText:first-child {
    margin-bottom: 10px;
}

.bookInfoGR {
    padding-left: 55px;
}

.bookInfoTextGR {
    font-weight: 500;
    font-size: 12px;
    line-height: 3.17;
    color: #242A37;
}