@mixin centralFlex($type: center) {
    display: flex;
    justify-content: $type;
    align-items: center;
}

@mixin fonts($lh, $fw, $fs, $txt-a, $ls, $text-t) {
    line-height: $lh;
    font-weight: $fw;
    font-size: $fs;
    text-align: $txt-a;
    letter-spacing: $ls;
    text-transform: $text-t;
}

@mixin objectForm($width, $height, $br) {
    width: $width;
    height: $height;
    border-radius: $br;
}

@mixin positioning($position, $top, $left, $width: unset, $height: unset) {
    position: $position;
    top: $top;
    left: $left;
    width: $width;
    height: $height;
}

@mixin modalWidth($width, $height) {
    width: $width;
    height: $height;
}