// :root {
//   --first-text-and-background-color: #ffffff;
//   --accent-text-and-background-color: #ff6b08;
//   --background-and-text-color: #ffb8ca;
//   --second-text-color: #242a37;
//   --third-text-color: #898f9f;
//   --fourth-text-color: #091e3f;
//   --first-background-color: #6d7a8d;
//   --hover-buttons: #d15807;
// }

// $mobile: 320px;
// $tablet: 768px;
// $desktop: 1280px;
