.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 32px 0;
}

@media screen and (min-width: 768px) {
  .form {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffff;
    padding: 40px;
  }
}

.input {
  background: #f5f7fa;
  margin-top: 8px;
  padding: 15px;
  box-shadow: 0px 1px 2px 0px rgba(29, 29, 27, 0.15) inset;
  background: #f6f7fb;
  border: none;
  outline: none;
}

.input:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 280px;
  color: #e5e5e5;
}

@media screen and (min-width: 768px) {
  .label {
    width: 320px;
    color: rgba(166, 171, 185, 1);
  }
}

.button {
  margin-bottom: 16px;
  width: 280px;
  height: 60px;
  background-color: #ff6b08;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #ffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover,
.button:focus {
  background-color: #d15807;
}

@media screen and (min-width: 768px) {
  .button {
    width: 320px;
    margin-bottom: 20px;
  }
}

.google {
  display: block;
  width: 150px;
  height: 40px;
  margin-bottom: 28px;
  background-color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #707375;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: none;
}

.google_icon {
  display: inline-block;
  margin-right: 16px;
}

.linkGoogle {
  color: #707375;
  text-decoration: none;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    max-width: 1280px;
    display: flex;
    margin: 0;
    align-items: baseline;
    gap: 130px;
  }
}

.overlay {
  background-image: url(../../../images//mobile/overlay\ mobile.jpeg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  box-shadow: 0px 6px 9px 0px rgb(0 0 0 / 29%);
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: url(../../../images/tablet/overlay\ tablet.jpeg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .overlay {
    background-image: url(../../../images/desktop/overlay\ desktop.jpeg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.register {
  color: #ff6b08;
  padding-bottom: 45px;
}

.background {
  background-color: rgba(9, 30, 63, 0.8);
  background-blend-mode: screen;
}

@media screen and (min-width: 768px) {
  .background {
    padding: 64px 75px;
  }
}

@media screen and (min-width: 1280px) {
  .background {
    padding: 50px 75px;
  }
}

.text {
  font-family: 'Montserrat' sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #898f9f;
  margin: 0;
}

.linkLogin {
  font-family: 'Montserrat' sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #ff6b08;
  text-decoration: underline;
  margin-left: 10px;
}