.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .form {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        background-color: gainsboro;
        padding: 40px;
        margin-top: 64px;
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 1200px) {
    .form {
        width: 320px;
        background-color: gainsboro;
        padding: 40px;

    }
}

.input {
    height: 40px;
    background: #F5F7FA;
    margin-top: 8px;
    padding: 3px;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 280px;
}

@media screen and (min-width: 768px) {
    .label {
        width: 320px;
    }
}

.button {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 16px;
    width: 280px;
    height: 60px;
    background-color: #FF6B08;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #FFFF;
}

.button:hover,
.button:focus {
    background-color: #D15807;

}

@media screen and (min-width: 768px) {
    .button {
        width: 320px;
        margin-top: 12px;
        margin-bottom: 20px;
    }
}

.google {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 28px;
    width: 150px;
    height: 40px;
    background-color: #E5E5E5;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    color: #707375;
}

.quote {
    width: 230px;
    padding: 0 45px 16px 45px;
}

@media screen and (min-width: 768px) {
    .quote {
        width: 530px;
        padding: 64px 120px 70px 120px;
    }
}

@media screen and (min-width: 1200px) {
    .quote {
        width: 400px;
    }
}

.quotetext {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #242A37;
    padding: 10px;
}

.author {
    font-size: 14px;
    font-weight: 500;
    color: #898F9F;
    text-align: center;
    border-top: 1px solid #242A3780;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1280px) {
    .wrapper {
        display: flex;
        justify-content: center;
    }
}
