.title {
    margin-top: 0;
    text-align: center;
    font-family: 'Abril Fatface';
    line-height: 38px;
    font-weight: 400;
    font-size: 34px;
    margin-bottom: 48px;
    color: var(--second-text-color);
}

.titlesecond {
    margin-bottom: 14px;
    font-family: 'Montserrat' sans-serif;
    line-height: 38px;
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
    color: #242a37;
}

.text {
    margin-bottom: 12px;
    font-family: 'Montserrat' sans-serif;
    line-height: 17px;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    color: #898f9f;
}

.infoList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.vector {
    margin-right: 12px;
    fill: #ff6b08;
    width: 4px;
    height: 8px;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat' sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    width: 430px;
    margin: auto;
    padding: 64px 0 88px;
    }

@media screen and (min-width: 1280px) {
    .infoWrapper {
        padding: 0;
    }
}