@import '../../utils/mixins';

.backdrop {
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  -webkit-box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.29);
  background: var(--first-text-and-background-color);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 40px 19px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @include modalWidth(240px, 425px);
}

.wrapper {
  @include centralFlex();

  flex-direction: column;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
}

.flex-cont {
  display: flex;
  flex-direction: row;
}

.firstStep {
  margin-bottom: 40px;
}

.secondStep {
  margin-bottom: 55px;
}

.stepsTitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: var(--second-text-color);
  margin-bottom: 15px;

  @include fonts(22px, 600, 26px, left, 0.03em, none);
}

.stepsSuptitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: var(--second-text-color);
  margin-left: 20px;
  margin-bottom: 15px;

  @include fonts(17px, 600, 18px, left, 0.03em, none);
}

.stepsParagrath {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: var(--third-text-color);
  margin-left: 15px;

  @include fonts(17px, 300, 15px, left, 0.03em, none);
}

.modal-button {
  @include objectForm(127px, 40px, 1px);
  @include fonts(17px, 500, 14px, center, 0.03em, none);

  background: var(--accent-text-and-background-color);
  padding: 12px 53px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: var(--first-text-and-background-color);
  -webkit-box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.29);

  &:focus {
    background-color: var(--hover-buttons);
    position: relative;
    top: 2px;
  }

  &:hover {
    background-color: var(--hover-buttons);
  }
}

.arrow-icon {
  margin-left: 43px;
}
