.infoListContainer {
  width: 270px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 678px;
  }

  @media screen and (min-width: 1280px) {
    width: 1200px;
    padding-left: 30px;
  }
}

.bookColumns {
  display: flex;
}

.list {
  @media screen and (max-width: 767px) {
    margin: 0 auto;
    width: 270px;
  }
}

.moreList {
  background-color: #fff;
  height: 210px;
  overflow-y: auto;

  @media screen and (max-width: 767px) {
    margin: 0 auto;
    width: 270px;
  }

  @media screen and (mix-width: 768px) {
    height: 210px;
    overflow-y: auto;
  }
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.71;
  color: #242a37;




  @media screen and (min-width: 768px) {
    margin-top: 10px;
    font-size: 14px;
    line-height: 2.71;
    white-space: nowrap;
    width: 326px;
    margin-right: 50px;
  }

  @media screen and (min-width: 1280px) {
    // width: 265px;
    margin-right: 350px;
  }

}

.author {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.71;
  color: #242a37;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.71;
  }

  @media screen and (min-width: 767px) {
    width: 160px;
  }

  @media screen and (min-width: 1280px) {
    width: 130px;
    margin-right: 200px;
  }
}

.year {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.71;
  color: #242a37;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.71;
  }

  @media screen and (min-width: 768px) {
    width: 80px;
  }

  @media screen and (min-width: 1280px) {
    width: 60px;
    margin-right: 68px;
  }
}

.page {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.71;
  color: #242a37;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.71;
  }

  margin-right: 21px;

  @media screen and (min-width: 1280px) {
    margin-right: 6%;
  }
}

.sectionTitle {
  white-space: nowrap;
  width: 134px;
  height: 38px;

  margin-top: 20px;
  margin-bottom: 5px;

  margin-left: 20px;

  font-weight: 600;
  font-size: 19px;
  line-height: 38px;

  color: #242a37;

  @media screen and (min-width: 768px) {
    margin-top: 40px;

    @media screen and (min-width: 1280px) {
      margin-top: 30px;
    }
  }
}

.btnTraining {
  display: flex;
  width: 130px;
  height: 40px;
  margin-left: 50px;
  margin-right: 18px;
  border: none;
  margin: 0 auto;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
  background-color: rgb(255, 107, 8);
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
}