
.thumb {
  position: relative;
  margin-top: 33px;

  margin-left: auto;
  margin-right: auto;
  width: 280px;
  border: 2px solid tomato;
  height: 290px;
  background: #FFFFFF;
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.25);
}
@media screen and (min-width: 768px){
  .thumb{
    width: 704px;
  }
}



.value{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #242A37;
}
@media (max-width: 767px){
  .value{
    text-align: center;
    padding-top: 25px;
  }
}

@media(min-width: 768px){
  .value{
    padding-top: 35px;
    margin-left:49px ;
  }
}

.result{
  margin: 21px auto 0 auto;
  width: 236px;
  height: 190px;
}
@media(min-width: 768px){
  .result{
    width:607px;
  }
}






/*export const AddWorkout = styled(Link)`*/
/*  position: absolute;*/
/*  width: 200px;*/
/*  height: 40px;*/
/*  cursor: pointer;*/
/*  background: #FF6B08;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  @media(max-width: 767px){*/
/*
/*  }*/
/*`;*/
