.container {
  width: 270px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 678px;
  }

  @media screen and (min-width: 1280px) {
    width: 1200px;
    padding-left: 30px;
    
  }
}

.list {
  width: 270px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    box-shadow: none;
    width: 678px;
  }

  @media screen and (min-width: 1280px) {
    width: 1200px;
    overflow-y: auto;
    height: 210px;
  }
}

.bookInfo {
  margin-top: 10px;

  @media screen and (min-width: 768px) {
    display: flex;
    // justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 38px;
  }

  @media screen and (min-width: 1280px) {
    justify-content: normal;
  }
}

.bookInfoText {
  @media screen and (min-width: 768px) {
    margin-right: 21%;
    font-weight: 500;
    font-size: 14px;
    line-height: 38px;
    color: #898f9f;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 0%;
  }
}

.title {
  
  margin-right: 156px;
  color: #898f9f;
  font-weight: 500;
  font-size: 14px;
  line-height: 38px;
  white-space: nowrap;

  @media screen and (min-width: 1280px) {
    margin-right: 287px;
   
  }
}

.author {
  margin-right: 68px;
  color: #898f9f;

  @media screen and (min-width: 1280px) {
    margin-right: 16%;
    font-weight: 500;
    font-size: 14px;
    line-height: 38px;
  }
}

.year {
  color: #898f9f;
  margin-right: 57px;
  font-weight: 500;
  font-size: 14px;
  line-height: 38px;

  @media screen and (min-width: 1280px) {
    margin-right: 7%;
  }
}

.page {
  color: #898f9f;
  font-weight: 500;
  font-size: 14px;
  line-height: 38px;
  margin-right: 26px;

  @media screen and (min-width: 1280px) {
    margin-right: 9%;
  }
}

.sectionTitle {
  width: 134px;
  height: 38px;
 
  margin-bottom: 5px;

  font-weight: 600;
  font-size: 19px;
  line-height: 38px;
  color: #242a37;
}