h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul {
  padding: 0;
  margin: 0;
}




.thumb {
  margin-top: 32px;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  background: #FFFFFF;
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.25);
}

@media screen and (min-width: 768px) {
  .thumb {
    width: 704px;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1280px){
  .thumb{
    margin: 0 20px 0 auto;
    width: 288px;
    height: 304px;
    display: block;
    box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
  }
}



.goalThumb {
  display: flex;
  width: 280px;
  justify-content: space-around;
  align-items: center;
  background: #FFFFFF;
}

@media screen and  (max-width: 767px) {
  .goalThumb {
    box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
  }
  .wrapper{
    padding-top:44px ;
    padding-bottom: 44px;
  }
}

.number {
  margin-top: 20px;
  padding: 11px 39px 11px 39px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 38px;
  text-align: center;

  color: #091E3F;
  background: #F5F7FA;
  box-shadow: 4px 4px 8px rgba(36, 42, 55, 0.15);
}





@media screen and (max-width: 767px) {
  .number {
    padding: 31px 37px 31px 37px;
  }
}

@media screen and (min-width: 1280px){
  .number{
    margin-top: 48px;
    padding: 31px 37px 31px 37px;
  }
}

.text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #898F9F;
}

@media screen and (max-width: 767px) {
  .text {
    margin: 14px auto 0 auto;
    width: 66px;
  }
}
@media screen and (min-width: 1280px){
  .text{
    margin: 14px auto 0 auto;
    width: 66px;
  }
  .wrapper{
    padding-bottom: 44px;
  }
}












