@media screen and (min-width: 768px) {
  .statContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .statFlexContainer {
    display: flex;
    justify-content: space-around;
  }

  @media screen and (min-width: 768px) {
    .statFlexContainer {
      flex-wrap: wrap;
    }
  }

  .timerContainer {
    display: flex;
    margin: 0 auto;
  }
}
