.nav {
  display: flex;
  margin-left: auto;
  border-right: 1px solid #e0e5eb;
}

.link {
  margin-right: 12px;
  fill: #a6abb9;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.link:hover {
  background: #f5f7fa;
}

.linkActive {
  background: #f5f7fa;
  fill: #ff6b08;
  margin-right: 12px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
