.thumb {
  width: 200px;
  height: 40px;
  cursor: pointer;
  background: #ff6b08;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .thumb {
    width: 200px;
    height: 40px;
    margin: 0 auto 0 auto;
  }
}
.thumbBtn {
}

@media screen and (min-width: 768px) {
  .thumbBtn {
    width: fit-content;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    margin: 40px auto 50px auto;
  }
}

.text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
